.form_container{
    
    background: grey;
    width:60%;
}
.myForm form {
    background: rgb(118, 242, 137);
    width: 60%;
    margin: 0px auto;
    padding: 50px 10px;

}
.myForm form label{
    color:black;
    font-size: larger;
    display: inline-block;
    width: 20%;
}
.myForm form input{
    width: 60%;
    height: 30px;
}
.myForm form input[type= 'submit']{
    width: 20%;
    border-radius: 15px;
    color:rgb(18, 12, 200);
    font-weight: 700;
}
.error{
    color: rgb(232, 34, 34);
    text-align: right;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}